<h1>Ranking#index</h1>
<p>Find me in app/views/ranking/index.html.erb</p>
<article>
<% @ranking.each do |ranking| %>
	<table width="400">
		<tr class="text-center">
			<td><%= ranking.name %></td>
			<td><%= ranking.surname %></td>
			<td><%= ranking.point %></td>
		</tr>
	</table>
<% end %>
</article>